@mixin small {
  @apply px-1.5 py-0.5 text-xs;
}
@mixin medium {
  @apply px-2 py-1;
}

@layer components {
  .badges {
    &--sm {
      .badge {
        @include small;
      }
    }
    &--md {
      .badge {
        @include medium;
      }
    }
  }
  .badge {
    background-color: var(--product-badge-background, theme('colors.primary.DEFAULT'));
    color: var(--product-badge-text, theme('colors.primary.text'));
    @apply inline-block
    whitespace-nowrap
    rounded-md;

    @include small;
    @screen md {
      @include medium;
    }

    // Variants
    &--custom {
      --product-badge-background: theme('colors.blue');
      --product-badge-text: theme('colors.white');
    }
    &--sold-out {
      --product-badge-background: theme('colors.danger');
      --product-badge-text: theme('colors.white');
    }
    &--pre-order {
      --product-badge-background: theme('colors.gray.500');
      --product-badge-text: theme('colors.gray.text');
    }
    &--sale {
      --product-badge-background: theme('colors.success');
      --product-badge-text: theme('colors.white');
    }
  }
}
