/*
 * Please use custom font sizes for the rte. So when you change the default font sizes in the tailwind config these are not affected.
 * This file needs to be a component to overwrite tailwind component rte.
*/

@layer components {
  .rte {
    @apply max-w-none
    text-inherit
    rte-headings:mb-2
    rte-headings:mt-8
    rte-headings:font-bold
    rte-headings:leading-[1.2]
    rte-headings:text-inherit
    rte-h2:text-primary
    rte-h4:mt-4
    rte-h4:text-lg
    rte-p:mt-0
    last:rte-p:mb-0
    rte-blockquote:mb-5
    rte-blockquote:mt-0
    rte-strong:text-inherit
    rte-ul:ps-4;

    ul:not(.list-unstyled) {
      list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 74.1 74.1' xml:space='preserve'%3E%3Ccircle cx='37.1' cy='37.1' r='35.1' fill='none' stroke='%23c01414' stroke-width='2'/%3E%3Ccircle cx='37.1' cy='37.1' r='21.4' fill='%23c01414' stroke='%23c01414'/%3E%3C/svg%3E");
      li::marker {
        @apply text-[1.5rem];
      }
    }
  }
}
